<configuration>

    <!-- INFO logs without color -->
    <appender name="STDOUT_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{0}.%thread/%level]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- WARN logs in yellow -->
    <appender name="STDOUT_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{0}.%thread/%level]: %msg%n)</pattern>
        </encoder>
    </appender>

    <!-- Other levels with colors -->
    <appender name="STDOUT_OTHER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %highlight([%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{0}.%thread/%level]: %msg%n){
                ERROR=red, DEBUG=blue, TRACE=cyan
                }
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT_INFO" />
        <appender-ref ref="STDOUT_WARN" />
        <appender-ref ref="STDOUT_OTHER" />
    </root>

</configuration>